click>=6,<7
pyserial~=3.5
cachetools
requests~=2.25.1
tabulate
jsonpickle~=2.0.0
semantic_version
colorama~=0.4.4
pyzmq~=22.0.3
cobs~=1.1.4
scan-build==2.0.13
rfc6266-parser
sentry-sdk
observable~=1.0.3
pypng==0.0.20

typing~=3.7.4.3
msgpack~=1.0.2
setuptools~=56.0.0